{
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 150,
  "semi": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "endOfLine": "lf",
  "experimentalTernaries": true
}
