/* Layout overrides */
:root {
  --sl-content-width: 80rem;
  --sl-text-5xl: 2.25rem;
}

/* Accent color overrides on top of rapide theme */
:root {
  --sl-color-accent-low: #004d61;
  --sl-color-accent: #00d2ff;
  --sl-color-accent-high: #b2f2ff;
}

:root[data-theme='light'] {
  --sl-color-accent-low: #b2f2ff;
  --sl-color-accent: #008ba3;
  --sl-color-accent-high: #005b6b;
}
